<div class="content">
    <h2>Editar Fotografía</h2>
    <form #editarFoto="ngForm" (ngSubmit)="editar()">
        <mat-form-field class="col-xs-12">
            <input matInput type="text" #nombre="ngModel" name="nombre" [(ngModel)]="_fot.fotografia" required placeholder="Fotografia" autofocus>
            <mat-error *ngIf="nombre.invalid">El nombre de la Fotografía es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-xs-12">
            <input matInput type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="_fot.descripcion" placeholder="Descripción">
            <mat-error *ngIf="descripcion.invalid">La descripción de la Fotografía es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-xs-12">
            <input matInput type="text" #autor="ngModel" name="autor" [(ngModel)]="_fot.autor" required placeholder="Autor">
            <mat-error *ngIf="autor.invalid">El autor es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-xs-12">
            <input matInput type="number" #numero="ngModel" name="numero" [(ngModel)]="_fot.numero" required placeholder="Número">
            <mat-error *ngIf="numero.invalid">El número es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-xs-12">
            <input matInput type="text" disabled>
            <input #file1 type="file" onclick="this.value=null" style="display: none" (change)="fileChangeEvent($event)" accept=".jpg">
            <div>{{_image_selected}}</div>
            <button mat-mini-fab color="primary" matSuffix type="button" (click)="file1.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </mat-form-field>

        <mat-checkbox class="col-xs-12" color="warn"  name="activo" [(ngModel)]="_fot.activo">Activo</mat-checkbox>

        <button [routerLink]="['/admin/list']" mat-raised-button class="btn" color="default" type="button">Cancelar</button>
        <button [disabled]="!editarFoto.form.valid" mat-raised-button class="btn" color="primary" type="Submit">Actualizar</button>

    </form>
</div>