<div class="content">
    <div class="grilla col-lg-2 col-md-3 col-sm-4" *ngFor="let fot of _fotografias1">
        <div class="content-fotografia" [ngClass] = "fot.activo == false?'content-fotografia-disabled':''">
            <div class="fotografia" [style.background-image]="'url(' + _url + 'get-fotografia/' + fot.imagen + '/true)'">

            </div>
            <div class="datos">
                {{fot.numero}} - {{fot.fotografia}}
            </div>
            <div class="fotografia-hover">
                <div>
                    <mat-icon>create</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
