<div class="container-fluid">
    <div class="content-login col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h2>LOGIN</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <mat-form-field class="col-xs-12">
                <input matInput type="text" #nombre_usuario="ngModel" name="usuario" [(ngModel)]="usuario.usuario"
                    required placeholder="Usuario" autofocus />
                <mat-error *ngIf="nombre_usuario.invalid">El usuario es requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12">
                <input matInput type="text" #password="ngModel" name="password" [(ngModel)]="usuario.password"
                    required placeholder="Password" />
                <mat-error *ngIf="password.invalid">El password es requerido</mat-error>
            </mat-form-field>

            <button mat-raised-button class="btn-Ingreso" type="submit" [disabled]="!loginForm.form.valid">
                INGRESAR
            </button>
        </form>
    </div>
</div>